body {
	background: black;
}
header {
	text-align: center;
	padding-top: 30px;
	border-bottom: solid;
	border-width: 2px;
	border-color: white;
	padding-bottom: 20px;

}
h2 {
	padding-top: 60px;
	padding-right: 60px;
}


h1 {
	color: white;
	text-align: center;
	word-spacing: 40px;
	padding-top: 10px;
	font-family: courier;
}
p {
	color: white;
	font-size: 12px;
	padding-left: 60px;
	font-family: arial;

}
ul {
	color: white;
	padding-left: 60px;
	font-size: 14px;
	padding-top: 20px;
	margin: 10px;
	line-height: 30px;
	font-family: arial;
}
a.nav-link:link
{
   color: white;
   text-decoration: none;
}
a.nav-link:visited
{
   color: white;
   text-decoration: none;
}
a.nav-link:hover
{
   color: white;
   text-decoration: none;
}
a.nav-link:active
{
   color: white;
   text-decoration: none;
}

